<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   VHallSDKDemoInfo.plist
   VhallSDKDemo

   Created by 郭超 on 2023/2/21.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>UIUserInterfaceStyle</key>
        <string>Light</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>是否允许使用麦克风</string>
        <key>NSCameraUsageDescription</key>
        <string>是否允许使用相机</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
    </dict>
</plist>
